<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link type = "text/css" href = "index.css" rel ="stylesheet">
        <script type = "text/javascript" src = "index.js"></script>
    </head>
    <body>
        <header class = "header">
            <h1>Tanaka Hiroshi Lab IoT Sysetem</h1>
        </header>
        
        <!--<from method="POST" action="http://127.0.0.1:25252/">
            <input type="text" name="msg" value = "にっこにこにー">
            <input type="submit">
        </from>-->
        <div class = "contener">
            <div id="kazu"class = "item test size" onclick="windows()">
            </div>
            <div class = "item">
                <div class = "User profileuser">
                    <div class = "center-icon">
                        <img src="img/kazu.jpg" >
                    </div>  
                </div>
                <div class = "User fullname">
                    <p>坂本 一樹</p>
                </div>
                <div class = "User">
                    <p>出勤時間</p>
                </div>
                <div class = "User">
                    <p>退勤時間</p>
                </div>
                <div class = "User">
                    <p>午前９：００</p>
                </div>
                <div class = "User">
                    <p>午後１１：００</p>
                </div>

            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>

            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>

            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>

            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>

            </div>
            <div class = "item">
                <div class = "User profileuser">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
                <div class = "User">
                </div>
            </div> 
        </div>        
    </body>
</html>
